.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    padding: calc(50px + 4rem) 0 5rem 0;
}

@media (max-width: 768px) {
    .Home {
        width: 80%;
        padding: calc(50px + 4rem) 1rem 5rem 1rem;
    }
}

.Home-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.Home-about {
    flex-wrap: wrap;
    max-width: 1000px;
    min-width: 400px;
    gap: 4rem 1rem;
    margin: 0 auto;
    display: flex;
}

.Home-about div {
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 400px;
}

.Home-skills-list {
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 2rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    width: fit-content;
    display: flex;
}

.Home-skills-list li {
    background: var(--secondary-background-color);
    border-radius: 5px;
    padding: 8px 16px;
}