.Projects {
    display: flex;
    margin: 0 auto;
    width: 50%;
    min-width: 600px;
    flex-direction: column;
    padding: calc(50px + 4rem) 0 5rem 0;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .Projects {
        width: 100%;
        min-width: 0;
        padding: calc(50px + 4rem) 1rem 5rem 1rem;
    }
}

.Projects-project {
    display: flex;
    background: var(--secondary-background-color);
    border-radius: 5px;
    margin: 16px;
    height: 200px;
}