@font-face {
    font-family: 'IBM Plex Sans';
    src: url('./assets/fonts/IBMPlexSans.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Mono Bold';
    src: url('./assets/fonts/IBMPlexMono-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Mono Regular';
    src: url('./assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Mono SemiBold';
    src: url('./assets/fonts/IBMPlexMono-SemiBold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #6C2BD9;
    --text-color: #F9F9F9;
    --background-color: #1F1F1F;
    --secondary-background-color: #191919;
    --accent-color: #2CD4D9;
    --secondary-color: #B0B0B0;

    --heading-font-family: "IBM Plex Mono SemiBold";
    --body-font-family: "IBM Plex Sans";
    --code-font-family: "IBM Plex Mono Regular";

    --heading-font-size: 46px;
}

@media (max-width: 768px) {
    :root {
        --heading-font-size: 1.8rem;
        --body-font-size: 0.8rem;
    }

    p, a, li {
        font-size: var(--body-font-size);
    }

    h2 {
        font-size: 1.2rem;
    }
}

.App {
    background: var(--background-color);
    background-image: url(./assets/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    color: var(--text-color);
    font-family: var(--body-font-family), sans-serif;
}

.Container {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family), monospace;
    margin-bottom: 1rem;
}

h1 {
    text-align: center;
    color: var(--accent-color);
    font-size: var(--heading-font-size);
    animation: fadeIn 1s ease-out;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}